@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    src: url(./fonts/WorkSans-Regular.woff2) format(woff2), url(./fonts/WorkSans-Regular.woff) format(woff);
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 600;
    src: url(./fonts/WorkSans-SemiBold.woff2) format(woff2), url(./fonts/WorkSans-SemiBold.woff) format(woff);
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    src: url(./fonts/WorkSans-Bold.woff2) format(woff2), url(./fonts/WorkSans-Bold.woff) format(woff);
}

:root {

    /* ===== TYPOGRAPHY ===== */
    /* == FONT FAMILY == */
    --ff-body: 'Work Sans', sans-serif;

    /* ===== COLORS ===== */
    /* == BRAND == */
    --clr-brand: ;

    /* == NEUTRAL == */
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-150: hsl(275 100% 97%);
    --clr-neutral-600: hsl(296, 16%, 37%);

}

body {
    font-family: var(--ff-body);
    color: var(--clr-neutral-600);
}